# ============================
# USERS SOURCE
# ============================
USERS_SOURCE=local

# ============================
# JWT
# ============================
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_SEC=3600

# ============================
# BCRYPT
# ============================
BCRYPT_COST=10

# ============================
# APP URLS
# ============================
APP_URL=http://localhost:3000
FRONT_URL=http://localhost:4200
NODE_ENV=development

# ============================
# MAIL (SMTP)
# ============================
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email_here@gmail.com
MAIL_PASS=your_app_password_here
MAIL_FROM=your_email_here@gmail.com